<dt-footer>
  <style>
    dt-footer {
      display: block;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 300;
      padding: 40px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      background-color: hsl(200, 60%, 15%);
      text-align: center;
    }
    dt-footer .nav {
      margin-top: 12px;
    }
    dt-footer .nav a {
      color: rgba(255, 255, 255, 0.8);
      margin-right: 6px;
    }
  </style>
  <div class="l-page">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="nav">
      {% if site.author %}
        <div>{{ site.author | escape }}</div>
      {% else %}
        <div>{{ site.title | escape }}</div>
      {% endif %}
      {% if site.email %}
        <div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
      {% endif %}
      {% if site.github_username %}
        <div>{% include icon-github.html username=site.github_username %}</div>
      {% endif %}
      {% if site.twitter_username %}
        <div>{% include icon-twitter.html username=site.twitter_username %}</div>
      {% endif %}
    </div>
  </div>
</dt-footer>
<script>
  renderMathInElement(document.body,
    {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "\\[", right: "\\]", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false}
      ]
    });
</script>
